<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
    {{/if}}
  </h1>

  <p>Our usual turnaround time is approximately 5 working days but we will aim to get back to you before then if possible.</p>
  <p>A lot of queries can be answered by searching and reading our <a href="https://support.fourteenfish.com/hc/en-gb">Help
      Centre</a> information, so please do try looking at that first (this will be much quicker as well).</p>
  <p>We find <strong>screenshots</strong> or <strong>links to pages</strong> really useful to get you a resolution faster.</p>
  <p>&nbsp;</p>

  <div class="form">
    {{request_form}}
  </div>
</div>