<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
    {{/if}}
  </h1>

  <p>We are receiving very high volumes of support enquiries at the moment as a result of the RCGP Trainee Portfolio
    migration.</p>
  <p>At the moment, our average response time is about 5 working days. We are very sorry for any inconvenience this may
    cause.</p>
  <p>Please include as much detail as possible in your query, for example...</p>
  <ul>
    <li>Your deanery</li>
    <li>Your your trainee's or supervisor's name (if applicable)</li>
    <li>Steps you've tried to solve the problem</li>
    <li>The title of the entry your query relates to (if applicable)</li>
  </ul>

  <div class="form">
    {{request_form}}
  </div>
</div>