<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
    {{/if}}
  </h1>

  <p>We are receiving very high volumes of support enquiries at the moment as a result of the RCGP Trainee Portfolio
    migration.</p>
  <p>Our average response time is currently about <strong>10 working days</strong>. We are very sorry for any
    inconvenience this may cause.</p>
  <p>In order for us to resolve your query as quickly as possible, please include...</p>
  <ul>
    <li>&bull; Your deanery</li>
    <li>&bull; Your trainee's or supervisor's name (if applicable)</li>
    <li>&bull; The title of the entry your query relates to (if applicable)</li>
    <li>&bull; Steps you've tried to solve the problem</li>
  </ul>
  <p>If you are able to attach a screenshot that will also really help 🙂</p>
  <p>&nbsp;</p>

  <div class="form">
    {{request_form}}
  </div>
</div>